@tailwind base;
@tailwind components;
@tailwind utilities;

/* Basic theme variables for Business Portal */
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 0 0% 10%;
    --border: 0 0% 90%;
    --input: 0 0% 90%;
    --ring: 217.2 91.2% 59.8%;

    --card: 0 0% 100%;
    --card-foreground: 0 0% 10%;

    --primary: 212 60% 20%;
    --primary-foreground: 0 0% 100%;

    --muted: 0 0% 96%;
    --muted-foreground: 0 0% 45%;
  }

  body {
    background-color: hsl(var(--background));
    color: hsl(var(--foreground));
  }
}